
$back-img: inherit;

.highlight-name{
    color: burlywood;
}
.block-container{
    color: white;
    position: absolute;
    left:0;
    right:0;
    top: 25vh;
    text-align:center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 15%;

    h1{
        display: inline-block;
        margin:0;
        padding-top:15px;
    }

    h2{
        display: inline-block;
        margin:0;
        padding: 0 3vw 15px 3vw;
    }
}

.flex-container{
    display:flex;
    justify-content: space-evenly;
}
.grid-container{
    //background-image: linear-gradient(rgba(211,211,211,.4),rgba(211,211,211,.0));
    /*margin: 0 $side_margins;*/
    /*padding: $side_margins 0;*/
    padding: 0;
    height: 70%;
    display: grid;
}
.about{
    background: white;
    height: 93.4%;
    grid: {
        template-columns: [col2-start] 1fr [col3-start] 1fr;
        template-rows: [row1-start] 1fr [row2-start] 1fr [row3-start] 1fr;
        template-areas:
        "card-header card-header"
        "card1 card2"
        "card1 card2";
        column-gap: 50px;
        row-gap: 20px;
        // = gap: 20px 10px;
        justify-items: center;
    }
}

.home{
    background:black;
    height: 93.4%;
    grid: {
        template-columns: [col1-start] 1.25fr [col2-start] 1fr [col3-start] .2fr [col4-start] 1fr [col5-start] 1.25fr;
        template-row: [row1-start] 3fr [row2-start] 1fr;
        column-gap: 0px;
        row-gap: 20px;
        template-areas:
            "left-sec left-sec mid-sec right-sec right-sec";
    }
}

.section-header > h2 > a{
    color: white;
    text-decoration: none;
}

.section-header > h2> a:hover{
    color: white;
    text-decoration: underline;
}

section{
    /*min-height: 400px;*/
    //background-color: lightgrey;
    background-image: linear-gradient(to left, rgba(211,211,211,.5),rgba(211,211,211,.1));
}

.section-header{
    /*background: lightgrey;*/
    h2{
        margin-top:0;
        text-align:center;
    }

    p{
        margin:0;
        text-align: center;
    }
}

.section-text{
    display: flex;
    align-items: center;
    justify-content: center;
}
.left{
    /*,rgba(39, 39, 39, 0.8)*/
    background-image: linear-gradient(to right,rgba(50,50,50,1),rgba(211,211,211,0));
}
.right{
    background-image: linear-gradient(to left, rgba(204, 175, 120, 0.7),rgba(211,211,211,0));
}

.mid-sec{
    display:flex;
    flex-direction: column;
    align-items: center;
    /*background-image: radial-gradient(circle,rgba(211,211,211,0) 0,rgba(211,211,211,.5) 100%);*/
    justify-content: center;
    background-color: none;

    .spacer{
        flex:1;
        
    }

    .spacer-btn{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .spacer-p{
        margin-bottom: 50%;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        p{
            text: {
                align: center;
            }
            font: {
                size: 4em;
            }
            margin:0;
            position: relative;
        }
    }

    .spacer-half{
        flex:.5;
    }
}

.mid-btn{
    position: relative;
    top: -10vh;
    width: 250%;
    overflow: visible;
    align-self: center;
    height: 25%;
   /* text-align: center;*/
    background-color: black;
    color: burlywood;
    font-size: 1.2em;
    border: 1px solid grey;
    /*bisque  border: black 1px solid;*/
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.mid-btn:hover{
    /*background-color: #313131;*/
    color: white;
    text-decoration: underline;
    cursor: pointer;
}

.gradient{
    flex:1;
    height:100%;
    width:100%;
}

/*.g-bot{
    background-image: linear-gradient(to bottom,rgba(211,211,211,.3), rgba(211,211,211,0));
}
.g-top{
    background-image: linear-gradient(to top,rgba(211,211,211,.3), rgba(211,211,211,0));
}*/


main-section{
    grid-area: main;
}

left-section{
    grid-area: left-sec;
}

mid-section{
    grid-area: mid-sec;
}
right-section{
    grid-area: right-sec;
}
.card-header{
    grid-area: card-header;
    background-image: linear-gradient(to bottom, black,black, rgba(255,255,255,1));
    text-align: center;
    font-size: large;
    /*margin-left: 10px;*/
    //border: black solid 1px;
}

.card-header-text{
    color: white;
    background: black;
    margin: 0;
    padding-top: 5%;
}

.card > p{
    color: white;
    padding: 10px;
    font-size: 1.2em;
}
.card1{
    grid-area: card1;
    justify-self: right;
    background: black;
}
.card2 {
    grid-area: card2;
    justify-self: left;
    background: black;
}
.card3 {
    display: flex;
    justify-content: center;
    min-height: 200px;
}

.subcard-header{
    color: burlywood;
    text-align: center;
    margin: 0;
    padding: .83em 0;
    border-bottom: white 1px solid;
}
//.card1{}
.card{
    min-height: 100px;
    width: 75%;
}

.BU{
    color: darkgreen;
}

.bottom-gradient{
    min-height:  75px;
    background-image: linear-gradient(to top, grey, white);
    position: fixed;
    bottom: 0;
    left:0;
    right:0;
    z-index: -1;
}

.computer-img{
    height: 80%;
    align-self: center;
    background: {
        image: url('../../img/computer.jpg');
        size: cover;
       /* position: bottom;*/
       position: 50% 70%;
        repeat: no-repeat;
    }
    filter: grayscale(50%);
    position: relative;
    /*height: $back-img;*/
    
}

.campus-img{
    background: {
        /*image: url('../../img/towerlib.jpg');*/
        image: url('../../img/towerlib.jpg');
        size: cover;
        position: center;
        repeat: no-repeat;
    }
    filter: grayscale(75%);
    position: relative;
   /* height: $back-img;*/
}

@media screen and (max-width: 600px){
    .grid-container{
        display: inline-block;
    }
    .grid-container > .card, .grid-container > section {
        margin: 20px;
    }

}