footer{
    min-height: 50px;
}

.footer-container{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    min-height: 50px;
    position: fixed;
    margin: 5px $side_margins;
    bottom: 0;
    right: 0;
    left:0;
    border-top: grey 1px solid;   
}

.flag{
    height: 50%;
    background: yellow;
}

.footer-info{
    width:auto;
    align-self:center;
}