header{
    height: 7.5%;
    border-bottom: burlywood 5px solid;
}

#top_header{
    margin-bottom: 0;
    padding: 5px;
    // Display Flexbox
    display: flex;
    flex: {
        // Displays from left to right in a row
        direction: row;

        //nowrap is default, all items will be on one line
        wrap: nowrap;

        //flex-flow: row nowrap; combines the above

    }
}
.logo_header{
    // order: 1; //Logo should be first
    // width: 10vw;
    // margin-right: 1vw;
    // height: inherit;
    // a, img{ width: inherit; height: inherit;}
    justify-content: center;
    img{
        width: 3vw;
        height: inherit;
    }
}

nav {
    order: 3;
    display: block;
    height: inherit;
    ul {
        margin: 0; padding:0;
        height: 100%;   
        list-style: none;
        //Flex
        display:flex;
        align-items: center;
        //justify-content: space-around;
    }
}
.dash{
    //This isn't exact yet
    height: 45%;
    border-right: grey 1px solid;
    
}
.dash:after{
    content: "";
    width: 1vw;
    height: 1px;
    background-color: grey;
    position:absolute;
}

nav ul li{
    text-align: center;
    font-size: 2vw;
    margin-left: 20px;
    a, a:active, a:visited{
        text-decoration: none;
        color: burlywood;
    }

    a:hover{
        color: black;
        text-decoration: underline;
    }
}