#top_header{
    margin: 15px $side_margins 0 $side_margins;
    padding: 10px 10px 0px 10px;
    // Display Flexbox
    display: flex;
    border-bottom: black 1px solid;
    //border-top: black 1px solid;
    flex: {
        // Displays from left to right in a row
        direction: row;

        //nowrap is default, all items will be on one line
        wrap: nowrap;

        //flex-flow: row nowrap; combines the above

    }
}
.logo_header{
    // order: 1; //Logo should be first
    // width: 10vw;
    // margin-right: 1vw;
    // height: inherit;
    // a, img{ width: inherit; height: inherit;}
    justify-content: center;
    img{
        width: 3vw;
        height: inherit;
    }
}

// .page_header{
//     order: 2;
//     height: inherit;
//     h1{
//         //border-top: 1px solid black;
//         font: {
//             text-align: center;
//             family: arial, fantasy;
//             size: 3vw;
//         }
//     }

//     img{
//         width: 3vw;
//         height: inherit;
//         position: relative;
//         top: 2.5px;
//     }
// }

nav {
    order: 3;
    display: block;
    height: inherit;
    ul {
        margin: 0; padding:0;
        height: 100%;   
        list-style: none;
        //Flex
        display:flex;
        align-items: center;
        //justify-content: space-around;
    }
}
.dash{
    //This isn't exact yet
    height: 45%;
    border-right: grey 1px solid;
    
}
.dash:after{
    content: "";
    width: 1vw;
    height: 1px;
    background-color: grey;
    position:absolute;
}

nav ul li{
    text-align: center;
    font-size: 2vw;
    margin-left: 20px;
    a, a:active, a:visited{
        text-decoration: none;
        color: burlywood;
    }

    a:hover{
        color: black;
        text-decoration: underline;
    }
}