// Utility
@import "utilities/_variables.scss";
//Modules
@import "modules/_header.scss";
@import "modules/_body.scss";
@import "modules/_footer.scss";

html, body{
    padding: 0;
    margin: 0;
    background-color: white;
    //Try changing this to lightslategrey and changing top_header border to black
    height: 100%;
    
}